
@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>
<form action="/File/UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" /><br />
    <input type="submit" value="提交" />
</form>

