<?xml version="1.0" encoding="utf-8" ?>
<appset>
    <functionName>jjck_1</functionName>
    <IotDeviceIP>10.11.10.180</IotDeviceIP>
    <WebInterface>http://10.12.2.15:8080/Iotwebapi/postapi</WebInterface>
    <Dht11Pin>4</Dht11Pin>
    <DhtClass>11</DhtClass>
    <LogPath>/home/IoTtemperature.log</LogPath>
</appset>