@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>这个是测试站</h1>
    <p class="lead">测试后台账号管理系统，IOT温度监控，以及各种</p>
    <p><a href="/IotTempData" class="btn btn-primary btn-lg">前往温度监控 &raquo;</a></p>
    <p><a href="/SystemAccount" class="btn btn-primary btn-lg">前往系统用户管理 &raquo;</a></p>
    <p><a href="/VMAccount" class="btn btn-primary btn-lg">前往虚拟机账户管理 &raquo;</a></p>
    <p><a href="/WebAccount" class="btn btn-primary btn-lg">前往WEB平台账户管理 &raquo;</a></p>
    <p><a href="/VMAccount" class="btn btn-primary btn-lg">前往虚拟机账户管理 &raquo;</a></p>
    <p><a href="/OtherAccount" class="btn btn-primary btn-lg">前往通用账户管理 &raquo;</a></p>
</div>

<div class="row">
   哈哈。。。。
</div>
<div class="jumbotron">
    <h1>显示图标</h1>
    <p><img src="~/testpic/test.jpg" alt="test"></p>
</div>